@charset "utf-8";

/*
*{
	border:0;
	padding:0;
	margin:0;
}
.wrap{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
*/
.hexcell-map{
	display:flex;
	flex-direction:row;
}
.hexcell-line{
	flex:1;
	width:auto;
	height:auto;
}
.hexcell-line:nth-child(2n){
	transform:translate(-6px, -30px);	/*-34.641016151377545870548926830117pz*/
}
.hexcell-line:nth-child(2n-1) {
	margin-left:-10px;
	transform:translate(0px, 0px);
}
.hexcell{
	display:block;
    width:58px;
    height:50px;
	padding:0px 4px;
	margin:7px 0;
	background:#FD0;
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
	text-align:center;
	font-size:24px;
	color:#FFF;
	transition:all 0.4s;
}
.v0{background:#FFFFFF;}
.v1{background:#2196F3;}
.v2{background:#38883b;}
.v3{background:#da190b;}
.v4{background:#3921f3;}
.v5{background:#830900;}
.v6{background:#0c8d60;}
